:root {
  color-scheme: dark;

  // Colors
  --color-brand-primary: #92FB96;
  --color-brand-secondary: #1A421C;

  --color-red-primary: #FB9292;

  --color-bg-primary: #000000;
  --color-bg-secondary: #141414;
  --color-bg-tertiary: #1F1F1F;
  --color-bg-special-hover: rgba(255, 255, 255, .08);
  
  --color-content-primary: #E6E6E6;
  --color-content-secondary: #757575;
  --color-content-tertiary: #404040;

  // Spacings
  --spacing-view-y: 2rem;
  --spacing-view-x: 1.5rem;
}

:focus {
  outline: none!important;
}

[v-focus-visible=true] :focus {
  box-shadow: 0 0 0 2px #0498FB!important;
}

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../assets/fonts/Inter-roman.latin.var.woff2') format('woff2');
  font-named-instance: 'Regular';
}

* { 
  font-family: 'Inter var', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: var(--color-bg-primary);
  color: var(--color-content-primary); 
  overflow: hidden;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.View {
  padding: var(--spacing-view-y) var(--spacing-view-x);
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -1px;
}

p, .copy {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.25px;

  &.isSmall {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &.isUppercase {
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  display: inline-flex;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}